[package]
name = "dry-handlebars-macros"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full"] }
quote = "1.0"
walkdir = "2.3"
regex = "1.5"
minify-html = "0.18.1"
